---
import HeroBlock from '@blocks/HeroBlock.astro'
import CardBlock from '@blocks/CardBlock.astro'
import CodeBlock from '@blocks/CodeBlock.astro'

import homepage from '../content/pagescms.md'
const { frontmatter = { blocks: [] } } = homepage || {}
---

<main>
  {frontmatter.blocks?.length > 0 ? (
    frontmatter.blocks.map((block, index) => {
      switch (block.type) {
        case 'hero':
          return <HeroBlock key={`block-${index}`} {...block} />
        case 'card':
          return <CardBlock key={`block-${index}`} {...block} />
        case 'code':
          return <CodeBlock key={`block-${index}`} language={block.language}>{block.code}</CodeBlock>
        default:
          return null
      }
    })
  ) : (
    <p>No blocks added yet. Please add content via the CMS.</p>
  )}
</main>
